
/* Header */
.hamburger {
    display: flex;
    justify-content: end;
}
.links-list {
    background-color: red;
    width: 25vw;
    list-style: none;
    display: flex;
    flex-direction: column;
    
}
.links-list li a {
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.menu ul {
    display: none; 
}

.menu.open ul {
    display: flex;
    justify-content: space-between;
} 