
/* Header */
.hamburger {
    display: flex;
    justify-content: baseline;
}
.links-list {
    background-color: red;
    border-radius: 10%;
    width: 25vw;
    height: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.links-list li a {
    color: white;
    text-decoration: none;
}
.menu ul {
    display: none; 
}
.menu.open ul {
    display: flex;
    flex-direction: column;
}
.header-list{
    margin-top: 6px;
    margin-bottom: 6px;
} 